<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AddressBook - MVC</title>
    <link rel="icon" href="./img/yohan-logo.png">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/stylesheet.css" />

    <!--FONT-AWESOME ICONS-->
    <script src="https://kit.fontawesome.com/5db21ba9c6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Serif+Display:ital,wght@0,500;0,700;0,900;1,400&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="bg-light shadow-lg">
        <!--Nav Section-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <a href="https://yohanvaldes.me/" target="_blank">
                        <img src="~/img/yohan-logo.png" class="img w-50" alt="yohanvaldes-logo" />
                    </a>
                </div>
                <div class="col-8 d-flex justify-content-center">
                    <ul class="nav navbar">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" id="home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contacts" asp-action="Index">App</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="p-sm-5 p-3 min-vh-100">
            @RenderBody()
        </main>
    </div>

    <!--Footer Section-->
    <div class="footer p-5 bg-light">
        <div class="container-fluid">
            <div class="row row-cols-sm-3 text-center d-flex justify-content-center">
                <div class="col-12 col-sm-2">
                    <div>
                        <i class="fas fa-map-marked-alt fa-2x secondary-color"></i><br>
                        <p>Lakeland FL</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row-cols-1">
                <div class="col d-flex justify-content-center p-2">
                    <div class="row">
                        <div class="col">
                            <a href="https://github.com/yohanJS" target="_blank" rel="noopener"><i class="fab fa-github fa-2x main-color"></i></a>
                        </div>
                        <div class="col">
                            <a href="https://www.linkedin.com/in/yohanjs/" target="_blank" rel="noopener"><i class="fab fa-linkedin fa-2x main-color"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="mt-3 m-sm-0">
                        <p>Copyright &copy; 2021 <span class="main-color">Yohan Valdes</span>, All Rights Reserved.</p>
                        <p>Developed by <span class="main-color">Yohan Valdes.</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-2">
            <a href="#home" title="To Top">
                <span><i class="fas fa-sort-up fa-3x secondary-color"></i></span>
            </a>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
