@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4 m-sm-5">Welcome to the Address Book</h3>
    <h4>A Web application created with C#, ASP.NET Core MVC.</h4>
    <p class="lead text-left">
        This application lets the user create, read, update and delete contacts information. 
        Also known as a <strong>CRUD</strong> application.
    </p>
</div>
