@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row text-center pt-2 pb-4">
        <div class="col">
            <img src="~/img/app-logo.png" class="img" />
        </div>
    </div>
       
    <div class="row pt-5 pb-5 d-flex justify-content-center shadow-lg">
        <div class="col-12 col-md-4 m-1 d-flex justify-content-center">
            <h4 class="align-self-center">Address-Book App</h4>
        </div>
        <div class="col-12 col-md-6 m-1">
            <p class="lead">
                This application lets the user create, read, update and delete contact information. 
                Also known as a <strong>CRUD</strong> application.<br /><br />
                The App was created using C#, ASP.NET Core, and implementing the MVC design pattern.
            </p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <button class="btn btn-outline-light">
                <a class="nav-link text-light" asp-area="" asp-controller="Contacts" asp-action="Index">APP</a>
            </button>
        </div>
    </div>
    
</div>
