:root {
    --primary-color: #11aaa6;
    --secondary-color: #fe5a00;
    --light-color: #EBEBEB;
    --dark-color: #292929;
    --white-color: #eee;
    --black-color: #111;
    --emerald-green: #50C878;
    --red-cherry: #D2042D;
    --yellow-amber: #FFBF00;
    --tomato: #FF6347;
}
* {
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}
.txt-color {
    color: var(--primary-color);
}
main>.container {
    padding: 60px 15px 0;
}
.make-text-bigger {
    font-size: 2em;
    color: #00A7E1;
    text-align: right;
}
.js-color {
    color: #efd81d;
}
.bs-color {
    color: #8612fb;
}
.html-color {
    color: #e54c21;
}
.css-color {
    color: #264de4;
}
.github, .linkedin {
    color: var(--light-color);
}
footer i:hover {
    opacity: 0.6;
}